.recipes {
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  text-align: center;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 40px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipes__caption {
  margin: 0;
}
